<nav
  class="sticky top-0 flex items-center border-b border-surface-200 dark:border-surface-700  
  h-16 w-full mx-auto justify-between px-4 shadow-xs
  dark:bg-surface-900 bg-surface-50 
  "
>
  <app-sidebar-trigger-main />
  <div class="flex gap-4">
    <p-button pTooltip="Logout" icon="pi pi-sign-out" size="small"></p-button>
    <p-button class="" label="Check" size="small" />
    <p-button [icon]="isDark ? 'pi pi-sun' : 'pi pi-moon'" size="small" (onClick)="toggleDarkMode()" />
    <!-- <button
      type="button"
      class="bg-emerald-400 p-3 rounded-2xl text-white hover:bg-green-600 cursor-pointer"
      routerLink="/home"
    >
      Customers
    </button>
    <button
      type="button"
      class="bg-emerald-400 p-3 rounded-2xl text-white hover:bg-green-600 cursor-pointer"
      routerLink="/dashboard"
    >
      Orders
    </button> -->
  </div>
</nav>
