<p-toast [position]="'bottom-right'" />
<main class="p-4 h-full">
  <!-- Contenedor con borde bonito, sombra y redondeado -->
  <div class="">
    <p-table
      class="border-collapse border border-surface-200 dark:border-surface-800"
      #dt2
      [resizableColumns]="true"
      columnResizeMode="expand"
      [columns]="selectedColumns"
      [scrollable]="true"
      scrollHeight="530px"
      [showGridlines]="true"
      [value]="history_polizas"
      dataKey="TIPODOC"
      [rows]="10"
      [rowsPerPageOptions]="[10, 15, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="['DOCUMENTO', 'ASEGURADO', 'CONTRATANTE', 'ENDOSATARIO']"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <!-- Caption -->
      <ng-template #caption>
        <div class="flex items-center justify-end gap-4">
          <p-button
            pTooltip="Ver actualizacion de Polizas"
            icon="pi pi-file-excel"
            [raised]="true"
            severity="success"
            tooltipPosition="bottom"
            size="small"
          />
          <p-button
            pTooltip="Ver excel original de importacion de Polizas"
            icon="pi pi-file-excel"
            [raised]="true"
            severity="success"
            tooltipPosition="bottom"
            size="small"
          />
          <p-button
            pTooltip="Historial de importacion de Polizas"
            icon="pi pi-history"
            [raised]="true"
            severity="info"
            tooltipPosition="bottom"
            size="small"
          />
          <p-button
            pTooltip="Exportar a Excel"
            icon="pi pi-file-excel"
            [raised]="true"
            severity="success"
            tooltipPosition="bottom"
            size="small"
          />

          <p-iconfield iconPosition="left" class="">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="dt2.filterGlobal($event.target.value, 'contains')"
              placeholder="Search keyword"
            />
            <!-- (input.debounce.5000)="onSearch($event.target.value)" -->
          </p-iconfield>
        </div>
      </ng-template>
      <!-- Header -->
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col.field) {
            <th pResizableColumn>{{ col.header }}</th>
          }
        </tr>
        <tr>
          @for (col of columns; track col.field) {
            <th>
              <p-columnFilter
                class="z-0"
                type="text"
                field="{{ col.field }}"
                placeholder="Type to search"
                ariaLabel="Filter Name"
                filterOn="input"
              ></p-columnFilter>
            </th>
          }
        </tr>
      </ng-template>
      <!-- Body -->
      <ng-template #body let-customer let-columns="columns">
        <tr>
          @for (col of columns; track col.field) {
            <td>{{ customer[col.field] }}</td>
          }
        </tr>
      </ng-template>
      <!-- Empty Message -->
      <ng-template #emptymessage>
        <tr>
          <td colspan="35" class="text-center text-2xl">No se encontraron registros</td>
        </tr>
      </ng-template>
      <!-- paginator  left  -->
      <ng-template #paginatorleft>
        <div class="flex items-center gap-2">
          <p-multiselect
            display="chip"
            [style]="{ 'min-width': '200px' }"
            [options]="cols"
            [(ngModel)]="selectedColumns"
            optionLabel="header"
            selectedItemsLabel="{0} columnas seleccionadas"
            (onChange)="onColumnChange($event.value)"
            placeholder="Seleccionar columnas"
          />
        </div>
      </ng-template>
    </p-table>
  </div>
</main>
