td, th {
  white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
  overflow: hidden;          /* Oculta el contenido que se desborda */
  text-overflow: ellipsis;   /* Muestra puntos suspensivos para el contenido truncado */
}

::v-deep .custom-history-popover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2) !important;
    border-radius: 12px !important;
}