
:host {
  display: block;
  position: relative;
  /* Un valor mayor al de la tabla y sus filtros */
  z-index: 1100; 
}

.fixed {
  /* Asegura que el div fijo también tenga prioridad */
  z-index: 1100;
}