/* scroll delgado */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 1px solid var(--scrollbar-track);
}

:host {
  display: block;
  position: relative;
  /* Un valor mayor al de la tabla y sus filtros */
  z-index: 1100; 
}

.fixed {
  /* Asegura que el div fijo también tenga prioridad */
  z-index: 1100;
}