/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));    
/* html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
}/* padding: 2rem 0; */

html {
  font-size: 13.7px;
}

/* body {
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--body-bg);
  font-weight: normal;
  color: var(--body-text-color);
} */

/* Estilo para navegadores basados en Webkit (Chrome, Safari, Edge) */

/* Estilo para Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
} */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
    
::-webkit-scrollbar-track {
  background: transparent;
}
    
::-webkit-scrollbar-thumb {
  /* zinc.500 */
  background-color: #a1a1aa;
  border-radius: 10px;
  border: 1px solid transparent;
}